@{
    ViewBag.Title = "Home Page";
}

<div id="landingBackground" >
    </div>
    <div class="whatIs">
        <div>

        <h1 class="whatIsHeader">What is IT in the D?
            <div style="text-align: left; width: 300px">
        <iframe width="300" height="200" src="//www.youtube.com/embed/nHEZ3NX84ws" frameborder="0" allowfullscreen>
    </iframe>
        </h1></div>
        
        <p class="whatIsContent"><b>IT in the D</b> is a training program sponsored by  
            leading Detroit-based companies. The program offers continuing education, mentoring and 
            valuable real-world work experience.  <br /> <br /> 
      Our mission is to help our participants develop appropriate work attitudes and skills 
            that are aligned with actual hiring demands.  <br /><br /> 
      IT in the D is 
            committed to Detroit’s future. 
             We want to 
            spearhead the revitalization of the city's economy.  
            <br />
            <a href="~/Home/What"><img src="~/Content/Images/LearnMoreButton.png" /></a>


        <div class="clear"></div>
    </div>
    