@{
    ViewBag.Title = "Learning";
}

<div id="learningBackground">
    <p class="backgroundWordBox">Experiential Learning</p>
</div>

<div class="infoBox">
    <h1 class="infoBoxHeader">How the program works</h1>
    <div class="infoBoxContent" style="font-size:18px">
        The IT in the D program takes a non-conventional, learn-by-doing approach.
    The program fills the gap left when employers stopped offering robust 
    training for new hires.
        <ul>
            <li>Mentors coach and train students</li>
            <li>Students actively work on real projects</li>
            <li>Progress is gauged by the student's commitment to the work and
                the soundness of his/her output</li>
        </ul> 
    </div>
</div>